/* Paleta de colores
#2D4059
#FFB400
#EA5455
#F6F6F6
#FFFFFF */


html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    color: #2d4059;
}

#container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#title{
    font-size: 5em;
    
}

#img-div{
}