/* Paleta de colores
#2D4059
#FFB400
#EA5455
#F6F6F6
#FFFFFF */

/* Reseteo inicial */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFFFFF;
    color: #2d4059;
}

h1{
    font-size: 5rem;
}

p{
    margin-top: 20px;
}

a{
color: #EA5455;
}

img{
    max-width: 100%;
    box-shadow:  10px 5px 5px #F6F6F6;
}

br{
    margin-bottom: 2rem;
}


#main{
    font-family: 'Playfair Display', serif;
    text-align: center;

}

#img-div{
    max-width: 100%;
}

#tribute-link{
    margin-top: 50px;
}

#notas{
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: justify;
    margin-left: 2rem;
    margin-right: 2rem;
    padding: 1rem;
    background-color: #F6F6F6;

}

.full-width{
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}
