/* Paleta de colores
#2D4059
#FFB400
#EA5455
#F6F6F6
#FFFFFF */

/* Reseteo inicial */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    background-color: #FFFFFF;
    color: #2d4059;
}

h1{
    font-size: 5rem;
}

h2{
    font-weight: lighter;
}

p{
    margin-top: 20px;
}

a{
    text-decoration:none;
}

a.link-nav{
    color: #FFFFFF;
}

a.link-top-button{
    color: #FFFFFF;
}

img{
    max-width: 100%;
    box-shadow:  10px 5px 5px #F6F6F6;
}

footer{
    margin: 2rem;
}

#main{
    font-family: 'Playfair Display', serif;
    text-align: center;
}

#img-div{
    max-width: 100%;
}

#tribute-link{
    color: #EA5455;
    margin-top: 50px;
}

#tribute-info{
    margin: 1rem;
    font-style: italic;
    background-color: lightgray;
    color: black
}

.container{
    display:flex;
    flex-flow: column wrap;
    align-items: flex-start;
    margin: 0;
    padding: 0;
    background-color: #F6F6F6;
}

.item{
    background-color: #2d4059;
    color: #FFFFFF;
    text-align: justify;
    padding: 1rem;
    border-radius: 5px;
    margin: 1rem;
}

.navigation{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-end;
    align-items: center;
}

.nav-item{
    background-color: #EA5455;
    color: #ffffff;
    height: 3rem;
    width: 10rem;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

.full-width{
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    width: 100vw;
}

.top-button{
    background-color: #EA5455;
    color:#FFFFFF;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border-style: none;
    transform: rotate(-90deg);
    text-align: center;
    box-shadow:  -2px 2px 2px #2d4059;
}
